<?xml version="1.0"?>
<launch>

	<arg name="control_method" default="mpc" /> 
	<param name="control_method" type="string" value="$(arg control_method)" />

  <node
    name="mission_execution"
    pkg="mission_execution"
    type="mission_executor.py"
    output="screen">
    <rosparam command="load" file="$(find mission_execution)/config/config.yaml" />
  </node>
</launch>