<?xml version="1.0"?>
<launch>

  <!-- Configuration parameters - change these -->
  <param name="/velocity_controller/odometry_topic" value="/odometry/filtered" />
  <param name="/velocity_controller/thrust_topic" value="/auv/thruster_manager/input" />

  <!-- Interface nodes -->
  <include file="$(find drone_interface)/launch/anafi_sim.launch" pass_all_args="true"/>
  <include file="$(find ground_truth)/launch/coordinate_transform_sim.launch" pass_all_args="true"/>
  <include file="$(find ground_truth)/launch/sphinx_ros_bridge.launch" pass_all_args="true"/>

</launch>