<?xml version="1.0" encoding="utf-8"?>

<launch>
    <rosparam command="load" file="$(find anafi_setup)/config/anafi_config.yaml"/>

    <node
        name="perception_ekf"
        pkg="perception_ekf"
        type="run_ekf.py"
        output="screen">
        <param name="config_file" value="ekf_config.yaml" />
    </node>

    <include file="$(find tcv)/launch/tcv_node.launch"></include>
    <include file="$(find dnncv)/launch/dnnCV.launch"></include>

    
    <!-- <node pkg="rosbag" type="play" name="player" output="screen" args="-s 0 /home/simenallum/2022-09-19-11-35-01.bag"/> -->
</launch>