<launch>

	<arg name="use_ned_pos_from_gnss" default="false" /> 
	<param name="use_ned_pos_from_gnss" type="bool" value="$(arg use_ned_pos_from_gnss)" />

  <node
    name="mpc"
    pkg="mpc"
    type="model_predictive_controller.py"
    output="screen">
    <rosparam command="load" file="$(find mpc)/config/config.yaml" />
  </node>
</launch>