<?xml version="1.0" encoding="utf-8"?>

<launch>
    <rosparam command="load" file="$(find anafi_setup)/config/anafi_config.yaml"/>

    <node
        name="old_dnn_cv"
        pkg="old_dnncv"
        type="dnncv.py">
        <param name="config_file" value="dnncv_config.yaml" />
    </node>

    <!-- <node pkg="rosbag" type="play" name="player" output="screen" args="-s 12 /home/simenallum/2022-09-19-11-35-01.bag"/> -->

    <!-- DARKNET YOLO DETECTOR -->

    <!-- Console launch prefix -->
    <arg name="launch_prefix" default=""/>
    <arg name="image" default="/anafi/image" />

    <!-- Config and weights folder. -->
    <arg name="yolo_weights_path"          default="$(find dnncv)/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="$(find dnncv)/yolo_network_config/cfg"/>

    <!-- ROS and network parameter files -->
    <arg name="ros_param_file"             default="$(find dnncv)/config/ros.yaml"/>
    <arg name="network_param_file"         default="$(find dnncv)/config/anafi_real.yaml"/>

    <!-- Load parameters -->
    <rosparam command="load" ns="darknet_ros" file="$(arg ros_param_file)"/>
    <rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>

    <!-- Start darknet and ros wrapper -->
    <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <remap from="camera/rgb/image_raw"  to="$(arg image)" />
    </node>
</launch>
