<launch>
    <arg name="estimate_models" default="false"/>
    <arg name="estimate_roll_models" default="false"/>

    <param name="estimate_models" value="$(arg estimate_models)"/>
    <param name="estimate_roll_models" value="$(arg estimate_roll_models)"/>

    <node
        name="emulate_attitude_commands"
        pkg="emulate_attitude_commands"
        type="generate_attitude_commands.py"
        output="screen">
    </node>
</launch>